{   
    // 解析器，用于解析代码
    "parser": "babel-eslint", 
    // 解析器配置
    "parserOptions": {           
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx":true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules":{
        
    }
}